---
layout: pagetail
title: Pages 
header: Pages
group: navigation
---
{% include JB/setup %}

<h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% for node in pages_list %}
  {% if group == null or group == node.group %}
    {% if node.group == "hidden" %}
      <!--- hidden {{ BASE_PATH }}{{node.url}}--->
    {% elsif page.url == node.url %}
    <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
    <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}

  <li>
    <a
    href="https://www.mayerdan.com/ia_change/IA_Change_Process.pdf">Information
    Architecture Change Slides</a>
  </li>
</ul>
