---
layout: empty
title: Experiments Visualizing Web Requests
header: Web Requests
group: navigation
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Experiments Visualizing Web Request Flows</title>

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="/{{ site.data.manifest['docs.css'] }}" rel="stylesheet">
    <style>
      .node rect {
        cursor: move;
        fill-opacity: .9;
        shape-rendering: crispEdges;
      }
      
      .node text {
        pointer-events: none;
        text-shadow: 0 1px 0 #fff;
      }
      
      .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
      }
      
      .link:hover {
        stroke-opacity: .5;
      }
    </style>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js' type='text/javascript'></script>
  </head>
  <body class="page {{page.bodyClass}}">
    {% include mobile-menu.html %}
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      <div class="prose">
        <h1>D3 Sankey Request Flow</h1>
        <p>
          In this example I am using Sankey diagrams to attempt to visualize the flow of a request from clients through an example infrastructure stack.
        </p>
        <ul>
          <li>
            A single request (like a request for an html page or single API request)
          </li>
        </ul>
        <div id="div_customContent" style="visibility: hidden;">
          <div id="displayContent" style="position: fixed; top: 50px; width: 75%; background-color:white; border: 1px solid; border-radius: 5px; padding: 10px;">
          </div>
          <button id="close-btn" class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
				    close
			    </button>
        </div>
        <p id="chart"></p>  
      </div>
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/javascript/hamburger.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/visualization/requests.js?cache=3' | relative_url }}"></script>
  </body>
</html>
