body { padding-top: 40px; }

footer { margin-top: 8px; padding:16px 12px 16px; background-color: #EEE; }

#current-header { padding: 9px 10px 11px;
		  font-size: 20px;
		  float: right; }

.intro { padding-top: 8px; }
.side-header { padding-top: 8px; padding-bottom: 12px; }

.well .side-header { padding-left: 14px; }


/*.blog-header { display:none; }*/